# Advanced Programming Assignment 3

1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [37]:
def arithmetic_operation(string):
    a=b=int()
    if '+' in string:
        for i in range(len(string)):
            if string[i]=='+':
                a=int(string[:i])
                b=int(string[i+1:])
        return a+b
    elif '-' in string:
        for i in range(len(string)):
            if string[i]=='-':
                a=int(string[:i])
                b=int(string[i+1:])
        return a-b
    elif '*' in string:
        for i in range(len(string)):
            if string[i]=='*':
                a=int(string[:i])
                b=int(string[i+1:])
        return a*b
    elif '//' in string:
        for i in range(len(string)):
            if string[i:i+2]=='//':
                a=int(string[:i])
                b=int(string[i+2:])
        if b==0:
            return -1
        return a//b

In [38]:
arithmetic_operation("12 + 12")

24

In [39]:
arithmetic_operation("12 - 12")

0

In [40]:
arithmetic_operation("12 * 12")

144

In [41]:
arithmetic_operation("12 // 0")

-1

In [42]:
arithmetic_operation("12 // 12")

1

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [22]:
from math import sqrt
def perimeter(x):
    ab=sqrt(pow((x[1][0]-x[0][0]),2)+pow((x[1][1]-x[0][1]),2))
    bc=sqrt(pow((x[2][0]-x[1][0]),2)+pow((x[2][1]-x[1][1]),2))
    ac=sqrt(pow((x[2][0]-x[0][0]),2)+pow((x[2][1]-x[0][1]),2))
    
    return round((ab+bc+ac),2)

In [23]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.08

In [24]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.41

In [25]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

In [32]:
def tallest_skyscraper(z):
    height=0
    for i in range(len(z)):
        result=0
        for j in range(len(z[i])):
            result+=z[j][i]
        if result>height:
            height=result
    return height

In [33]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

3

In [34]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

4

In [35]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
])

2

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [36]:
def bonus(day):
    if day<=32:
        return 0
    elif day>=33 and day<=40:
        return (day-32) * 325
    elif day>=41 and day<=48:
        return (8*325)+((day-40) * 550)
    elif day>48:
        return (8*325)+(8*550)+((day-48)*600)

In [37]:
bonus(15)

0

In [38]:
bonus(37)

1625

In [39]:
bonus(50)

8200

In [ ]:
'''
5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

'''

In [52]:
def is_disarium(num):
    num=str(num)
    result=0
    for i in range(len(str(num))):
        result+=pow(int(num[i]),i+1)
    if int(num)==result:
        return True
    return False

In [53]:
is_disarium(75)

False

In [54]:
is_disarium(135)

True

In [55]:
is_disarium(544)

False

In [56]:
is_disarium(518)

True

In [57]:
is_disarium(466)

False

In [58]:
is_disarium(8)

True